# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
.env

# Virtual Environment
venv/
env/
ENV/

# Database
*.db
*.sqlite3

# Azure deployment settings
.azure/

# IDE files
.vscode/
.idea/

# Logs
*.log 